@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .text-blue-clipboard {
    --tw-bg-opacity: 1;
    color: rgba(30, 128, 240, var(--tw-bg-opacity));
  }

  .bg-blue-clipboard{
    --tw-bg-opacity: 1;
    background-color: rgba(30, 128, 240, var(--tw-bg-opacity));
  }

  .border-blue-clipboard{
    --tw-bg-opacity: 1;
    border-color: rgba(30, 128, 240, var(--tw-bg-opacity));
  }

  .bg-white-242	{
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
  }

  .border-white-242	{
    --tw-bg-opacity: 1;
    border-color: rgba(242, 242, 242, var(--tw-bg-opacity));
  }
}